@(personas: java.util.List[Persona], personaForm: Form[Persona])

@import helper._
@import play.data.Form;

@main("Menu Personas") {

    <div class="well">
        <h1>@personas.size personas registradas.</h1>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <input type="text" name="IdBuscar" id="IdBuscar" value="">
            <button onclick="buscar()">Buscar</button>

            <div id="busqueda">
                DNI:&nbsp;<span id="dniTxt"> </span>
                    &nbsp;Nombre: <span id="nombreTxt"></span>
                    &nbsp;Tel: <span id="telefonoTxt"></span>
                    &nbsp;Mail: <span id="emailTxt"></span>
                    <br>
                    <span id="nre"> </span>
            </div>


        </div>

        <script>

                function buscar() {
                    $('#busqueda span').text("");

                    var id = $('#IdBuscar').val();

                    $.ajax({
                        url: 'http://localhost:9000/persona/' + id,
                        dataType: 'text',
                        method: "GET",
                        success: function (response) {
                            data = JSON.parse(response);
                            $('#dniTxt').text(data.dni);
                            $('#nombreTxt').text(data.nombre + " " + data.apellido);
                            $('#telefonoTxt').text(data.telefono);
                            $('#emailTxt').text(data.email);
                        },
                        error: function (et) {
                            $('#nre').text("No hay resultados");
                        }
                    });
                }
        </script>


    </div>


    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6">
            <ul class="pagination1">
            @for(persona <- personas) {
                <li>
                    @form(routes.Application.eliminarPersona(persona.id)) {
                        <h5>@persona.dni @persona.nombre @persona.apellido @persona.telefono @persona.email
                            <input type="submit" value="Eliminar" class="pull-right">
                            }
                        </h5>
                </li>

            }
            </ul>

        </div>
        <div class="col-xs-6 col-sm-6 col-md-6">
            <h2>Agregue una persona</h2>

            @form(routes.Application.nuevaPersona()) {

                @inputText(personaForm("dni"))
                @inputText(personaForm("nombre"))
                @inputText(personaForm("apellido"))
                @inputText(personaForm("telefono"))
                @inputText(personaForm("email"))

                <input type="submit" value="Crear">

                }

        </div>
    </div>
    <div class="row">


    </div>

}
